:root {
    --z-index-titulo: 9999;
    --z-index-fondo: 0;
    --z-index-entremedio: 50;
    --z-index-personajes: 100;
    --z-index-telaraña: 200;

    --z-index-contenido: 75;

    --width-spider-blanco: 360px;
    --width-spider-rojo: 465px;
    --width-spider-negro: 393px;

}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4F96F6;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: calc(var(--z-index-entremedio) - 1);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 227px;
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);
}

#menu {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-left: 100px;
    filter: drop-shadow(4px 5px 0px #02187E);
}

#menu div {
    position: relative;
    border: 4px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    width: 34px;
    height: 4px;
    border-radius: 111px;
    transition: transform 0.5s, opacity 0.5s, width 0.5s;
}

#menu div:nth-child(2) {
    left: 50%;
    transform: translateX(-50%);
}

#menu div:nth-child(4) {
    position: absolute;
    top: 4px;
    left: 4px;
    border: 0px;
}

#comprar {
    display: block;
    box-sizing: unset;
    width: 200px;
    height: 50px;
    border-radius: 111px;
    border: 8px solid #2982FF;
    background: #FFE901;
    margin-right: 100px;

    font-family: 'Lato', sans-serif;
    color: #02187E;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2.2px;

    /* Drop Shadow */
    box-shadow: 4px 5px 0px 0px #02187E;

    text-shadow:
        0px 1px 0px #02187e,
        0px -1px 0px #02187e,
        -1px 0px 0px #02187e,
        1px 0px 0px #02187e,
        1px -1px 0px #02187e,
        1px 1px 0px #02187e,
        -1px 1px 0px #02187e,
        -1px -1px 0px #02187e;
}

#primera-parte {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60vw;
    overflow-x: clip;
    margin-top: 108px;
}

@keyframes aparecer {
    to {
        opacity: 1;
    }
}

#titulo {
    position: absolute;
    width: 46%;
    z-index: var(--z-index-titulo);
    opacity: 0;
    animation: aparecer 1s 1 forwards;
}

#fondo-nubes {
    position: absolute;
    z-index: var(--z-index-fondo);
    width: 100%;
}

#edificios-izquierda {
    width: 35.31%;
    position: absolute;
    left: -5px;
    bottom: 0.78%;
    z-index: var(--z-index-entremedio);
}

#edificios-centro {
    width: 45.78%;
    position: absolute;
    left: 50%;
    bottom: 1.25%;
    z-index: var(--z-index-entremedio);
    transform: translateX(-50%);

}

#edificios-derecha {
    width: 29.21%;
    position: absolute;
    right: -5px;
    bottom: 0.78%;
    z-index: var(--z-index-entremedio);
}

#personajes {
    position: relative;
    z-index: var(--z-index-personajes);
    border: 1px solid black;
}

#primera-parte #spider-blanco,
#primera-parte #spider-rojo,
#primera-parte #spider-negro,
#primera-parte #tela-arania-izquierda,
#primera-parte #tela-arania-derecha {
    position: absolute;
}

#primera-parte #spider-blanco {
    width: 28.12%;
    left: 7%;
    bottom: 1.09%;
    z-index: var(--z-index-personajes);
    opacity: 0;
    animation: aparecer 1s 1 forwards;
    animation-delay: 0.5s;

}

#primera-parte #spider-negro {
    width: 30.7%;
    right: 13%;
    bottom: 15.21%;
    z-index: var(--z-index-personajes);
    opacity: 0;
    animation: aparecer 1s 1 forwards;
    animation-delay: 1s;
}

#primera-parte #spider-rojo {
    width: 36.32%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3.04%;
    z-index: var(--z-index-personajes);
    opacity: 0;
    animation: aparecer 1s 1 forwards;
    animation-delay: 1.5s;
}

#primera-parte #tela-arania-izquierda {
    left: -14.62%;
    bottom: -28.18%;
    width: 59.22%;
    z-index: var(--z-index-telaraña);

}

#primera-parte #tela-arania-derecha {
    width: 34.84%;
    left: 78.17%;
    bottom: 8.86%;
    z-index: var(--z-index-telaraña);

}

#segunda-parte {
    position: relative;
    top: -5.58vw;
    width: 100%;
    height: 845px;
    z-index: var(--z-index-contenido);
}
#segunda-parte img{
    width: 100%;
}