:root {
    /*------------Colores------------*/
    /*------Colores primarios------*/
    /*Color del fondo*/
    --p-color-100: #080C2B;
    --p-color-200: #111955;
    --p-color-300: #192580;
    --p-color-400: #2132AB;
    --p-color-500: #2A3ED5;
    --p-color-600: #5465DE;
    --p-color-700: #7F8BE6;
    --p-color-800: #AAB2EE;
    --p-color-900: #D4D8F7;
    /*------Colores secundarios------*/
    --s-color-200: #400B5B;
    --s-color-300: #601188;
    --s-color-400: #8016B6;
    --s-color-500: #A01CE3;
    --s-color-600: #B349E9;
    --s-color-700: #C677EE;
    --s-color-800: #D9A4F4;

    /*------Acentos------*/
    --a-color-200: #625504;
    --a-color-300: #937F06;
    --a-color-400: #C4A908;
    --a-color-500: #F5D30A;
    --a-color-600: #F7DC3B;
    --a-color-700: #F9E56C;
    --a-color-800: #FBEE9D;

    /*------Notificacion------*/
    --n-notificacion-color-ok: #00D322;
    --n-notificacion-color-not-ok: #FF3D00;


    /*------Degradés------*/
    --d-footer: linear-gradient(180deg, var(--p-color-100), var(--p-color-500));
    --d-oferta: linear-gradient(90deg, var(--a-color-500), var(--s-color-500));
    --d-log-reg: linear-gradient(0, var(--p-color-400), var(--p-color-500));
    --d-title: linear-gradient(90deg, var(--s-color-300), var(--p-color-100));

    /*------------Fuentes------------*/
    --font: 'Nunito';
    /*------Tamaños------*/
    --font-size-h1: 36px;
    --font-size-h2: 30px;
    --font-size-h3: 24px;
    --font-size-cont: 16px;
    --font-size-desc: 12px;

    /*Absolute values*/
    --nav-size: 58px;
    --search-size: 600px;
    --menu-width: 65px;
    --space-between-card: 36px;
    --card-width: 336px;
    --card-height: 234px;
    --space-between-category: 24px;
}

/*Etiquetas miscelaneas*/
.flex {
    display: flex;
}

.none {
    display: none;
}

/*Etiquetas generales*/
body {
    margin: 0px;
    font-family: var(--font);
    background-color: var(--p-color-100);
    color: var(--p-color-900);
}

/*-----------------Navegador-----------------*/
#navegador {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;
    height: var(--nav-size);
    z-index: 1000;
    background-color: var(--p-color-400);
}

#nav-group1 {
    display: flex;
    width: 0%;
}

#menu-button {
    display: flex;
    padding: 15px;
    cursor: pointer;
}

#menu-button img {
    width: 35px;
    height: 28px;
}

#title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: var(--font-size-h3);
    font-weight: bold;
}

#title a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--p-color-900);
}

#title a img {
    margin-right: 9.7px;
    width: 41.78px;
    height: 48px;
}

#buscador {
    display: flex;
    position: relative;
    width: var(--search-size);
    height: 38px;
    align-items: center;
}

#buscador input {
    border-radius: 19px;
    width: 100%;
    padding-left: 18px;
    padding-right: calc(var(--font-size-h3)* 2);
    border: 3px solid var(--p-color-900);
    font-size: var(--font-size-h3);
    font-family: var(--font);
    font-weight: bold;
}

#buscador input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

#buscador a {
    position: absolute;
    width: 25px;
    right: 20px;
    height: 26px;
}

#buscador input:focus {
    outline: none;
}

#nav-group2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 0%;
}

#icon-carrito {
    padding-right: 14px;
    cursor: pointer;
}

#icon-user {
    padding-right: 7px;
    cursor: pointer;
}

/*Menu categoria*/
#menu-categorias {
    position: fixed;
    width: var(--menu-width);
    height: calc(100vh - var(--nav-size));
    bottom: 0px;
    z-index: 1000;

    background-color: var(--p-color-700);
    overflow: scroll;
    padding: 0px;

    transform: translateX(calc(var(--menu-width) * -1));
    transition: transform 0.3s ease-in;
}

header>.mostrar-menu-categorias {
    transform: translateX(0) !important;
}

#menu-categorias::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#menu-categorias>hr {
    width: 80%;
    border-width: 0;
    padding-top: 1px;
    background: var(--d-title);
    margin: 0px;
}

#menu-categorias,
#menu-categorias>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-categorias>div,
#menu-categorias>div>a {
    width: 100%;
    height: auto;
}

#menu-categorias>div>a {
    display: flex;
    margin: 4px 0px;
    align-items: center;
    justify-content: center;
    height: 48px;
}

#menu-categorias>div>a>img {
    transform: translateX(-1000px);
    filter: drop-shadow(1000px 0px 0 var(--s-color-200));
    width: 32px;
}

#menu-categorias>#contactos>a {
    height: 48px;
    filter: drop-shadow(1000px 0px 0 var(--s-color-800));
}

/*Descripcion*/
.menu-categorias-descripcion {
    left: 0px;
}

/*-------------------Loading-------------------*/
#loading {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: var(--p-color-100);
    animation: desaparecer 0.5s forwards;
    color: var(--p-color-900);
    font-size: var(--font-size-h1);
    animation-delay: 0.5s;
}

@keyframes desaparecer {
    to {
        display: none;
    }
}

/*Cartelera principal*/
#juego-principal {
    position: relative;
    margin-top: var(--nav-size);
}

#banner {
    overflow: hidden;
    max-height: 500px;
}

#banner img {
    width: 100%;
}

#juego-principal a {
    color: var(--p-color-100);
    font-weight: bold;
    bottom: 36px;
    right: 36px;
    border-radius: 29px;
    font-size: var(--font-size-h2);
    width: 181px;
    height: 58px;
}

.boton-jugar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--a-color-500);
    text-decoration: none;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
}

.boton-jugar:hover {
    background-color: var(--a-color-800);
}

.boton-jugar:active {
    background-color: var(--a-color-400);
    box-shadow: none;
}

/*------------------------CATEGORIAS Y CARROUSEL------------------------*/
/*Nombre de la categoria*/
.titulo-categoria {
    display: flex;
    align-items: center;
    background-image: var(--d-title);
    width: 30%;
    white-space: nowrap;
    height: 49px;
    font-size: var(--font-size-h3);
    padding-left: 45px;
    margin-top: var(--space-between-category);
    margin-bottom: calc(var(--space-between-category) * 0.25);
}

/*Contenedor del carrusel*/
.contenedor-carrusel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*Botones del carrusel izq y der*/
.boton-izquierda,
.boton-derecha {
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.5s;
    width: 35px;
    z-index: 2;
    padding: 0px;
    border: 0px;
    background: none;
}

.contenedor-carrusel:hover .boton-izquierda,
.contenedor-carrusel:hover .boton-derecha {
    opacity: 1;
}

/*Carrusel*/
.carrusel {
    display: flex;
    width: calc(100% - 35px * 2 - 8px);
    margin: 0px 4px;
    z-index: 1;
    overflow: hidden;
}

/*--------Carta de los juegos--------*/
.card {
    min-width: var(--card-width);
    width: var(--card-width);
    max-width: var(--card-width);
    height: var(--card-height);
    margin-right: var(--space-between-card);
    transform: translateX(0px);
    transition: transform 0.5s;
}

/*Contenido superioir de la carta*/
.card>.content {
    position: relative;
    width: auto;
    height: 80%;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
}

.card>.content>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card>.content>.carrito {
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--a-color-600);
    width: 58px;
    height: 58px;
    filter: drop-shadow(-2px -2px 4px rgba(0, 0, 0, 0.50));
    border-radius: 30px 0px 0px 0px;
}

.card>.content>.carrito>img {
    transform: translateY(-1000px);
    filter: drop-shadow(0px 1000px 0 var(--p-color-100));
    width: 35px;
}

.card>.content>.oferta {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: var(--font-size-cont);
    top: 17px;
    right: -22px;
    background-image: var(--d-oferta);
    color: var(--p-color-300);
    transform: rotateZ(45deg);
    width: 100px;
    box-shadow: 0 0 10px 4px #000000ff;
    text-transform: uppercase;
}

/*Contenido del hover de cada carta*/
.card>.content>.informacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(217, 217, 217, 0.60);
    backdrop-filter: blur(2px);
    opacity: 0;
    transition: opacity 100ms;
}


.card:hover>.content>.informacion {
    opacity: 1;
}

/*Titulo del juego*/
.card>.content>.informacion>.nombre-juego {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    margin: 0px;
    margin-top: 7px;
    margin-left: 7px;
    width: 80%;
    height: 82px;
    font-size: var(--font-size-h2);
    color: var(--p-color-100);
}

.categorias-y-boton {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

.categorias-y-boton ul,
.card>.content>.informacion>.categorias {
    list-style-type: none;
    padding-inline-start: 7px;
    color: var(--p-color-100);
    font-size: var(--font-size-desc);
    font-weight: bold;
    margin: 0 0 7px 0;
}

.categorias-y-boton ul>li,
.card>.content>.informacion>.categorias>li {
    border: 1px var(--p-color-100) solid;
    width: fit-content;
    border-radius: 8px;
    padding: 0px 4px;
    margin-bottom: 2px;
}

.categorias-y-boton ul>li:nth-child(n+5),
.card>.content>.informacion>.categorias>li:nth-child(n+5) {
    display: none;
}

/*Boton agregar carrito*/
.categorias-y-boton .agregar {
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 24px;
    margin: 0 8px 8px 0;
    padding: 0px;
    font: var(--font) var(--font-size-cont);
    font-weight: bold;
    background-color: var(--s-color-800);
    color: var(--s-color-200);
    border: 0px;
    border-radius: 50px;
    cursor: pointer;
}

.categorias-y-boton .agregar img,
.categorias-y-boton .agregado span img {
    width: auto;
    margin-left: 4px;
    filter: drop-shadow(0px 1000px 0 var(--s-color-200));
    transform: translateY(-1000px);
}

.categorias-y-boton .agregar:hover {
    background-color: var(--s-color-200);
    color: var(--s-color-900);
}

.categorias-y-boton .agregar:hover img {
    filter: drop-shadow(0px 1000px 0 var(--p-color-900));
}

/*Boton agregado al carrito*/
.categorias-y-boton .agregado {
    align-items: center;
    position: relative;
    text-align: left;
    width: 100px;
    height: 24px;
    margin: 0 8px 8px 0;
    padding: 0px;
    padding-left: 4px;
    font: var(--font) var(--font-size-cont);
    font-weight: bold;
    background-color: var(--s-color-200);
    color: var(--s-color-800);
    border: 0px;
    border-radius: 50px;
    cursor: pointer;
    transition: width 0.2s;
}

.categorias-y-boton .agregado span {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--s-color-700);
    color: var(--s-color-300);
    border-radius: 50px;
    padding-left: 6px;
    width: 100px;
    height: 24px;
}

.categorias-y-boton .agregado span img {
    filter: drop-shadow(0px 1000px 0 var(--s-color-300));
}

.categorias-y-boton .agregado:hover {
    background-color: var(--s-color-200);
    width: 122px;
}

.categorias-y-boton .agregado:hover span {
    background-color: var(--s-color-300);
    color: var(--s-color-800);
}

.categorias-y-boton .agregado:hover span img {
    filter: drop-shadow(0px 1000px 0 var(--s-color-800));
}


/*Cards carrito Informacion inferior*/
.card>.informacion {
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
    height: 20%;
    background-color: var(--p-color-400);
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
}

.card>.informacion .nombre-juego {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px;
    padding: 2px 0px 2px 7px;
    width: 70%;
    font-size: var(--font-size-h2);
}

.card>.informacion .boton-jugar {
    justify-content: left;
    right: 0px;
    padding-left: 25px;
    width: calc(30% - 25px);
    height: 100%;
    font-weight: bold;
    font-size: var(--font-size-h3);
    border-radius: 0px 0px 0px 45px;
}

.card>.informacion .precio {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 0px;
    padding-right: 11px;
    width: 30%;
    font-size: var(--font-size-h3);
    text-decoration: none;
    color: white;
}

.card>.informacion .precio-oferta {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 30%;
    text-align: right;
    padding-right: 11px;
    white-space: nowrap;
    max-width: 30%;
    width: 30%;
}

.card>.informacion .precio-oferta p {
    margin: 0px;
    overflow: hidden;
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card>.informacion .precio-oferta p:first-child {
    text-decoration: line-through;
    text-decoration-color: rgba(255, 0, 0, 0.5);
    font-size: var(--font-size-desc);
}

.card>.informacion .precio-oferta p:last-child {
    font-size: var(--font-size-h3);
    color: var(--a-color-600);
}

/*------------------------FOOTER---------------------------*/

#fat-footer {
    height: 532px;
    background: var(--d-footer);
    color: #FFFFFF;
    align-items: end;
    overflow: hidden;
}

#fat-footer h3 {
    font-size: var(--font-size-h3);
}

#fat-footer a {
    color: #FFFFFF;
    padding-top: 3%;
    padding-bottom: 3%;
}

#categorias-footer,
#links-sitio-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nosotros-footer {
    max-width: 350px;
    text-align: center;
}

#grupo-grande-footer {
    display: flex;
    justify-content: space-around;
    padding-top: 129px;
    padding-bottom: 3.5%;
}

#nuestras-redes-footer>a {
    display: inline-block;
    padding: 0px;
    width: 32px;
    height: 32px;
    padding-left: 1%;
    padding-right: 1%;
}

#nuestras-redes-footer>a>img {
    width: 32px;
    height: 32px;
    transform: translateY(-1000px);
    filter: drop-shadow(0px 1000px 0 #fff);
}

#demas-links-footer>a {
    padding: 0px 1% !important;
}

#demas-links-footer {
    text-align: center;
}



/*----------------------------------Registro/Login----------------------------------*/

#login-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
}

.nav-login {
    width: 100vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-self: center;
}

.formulario-registro {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    width: 400px;
    height: 715px;
    background-image: var(--d-log-reg);
}

.inputBox {
    position: relative;
    display: flex;
    width: 220px;
    height: 40px;
}

.inputBox input {
    width: 100%;
    padding: 12px 10px 0px 16px;
    border: 0px;
    border-radius: 20px;
    outline: none;
    color: var(--p-color-600);
    background-color: var(--p-color-900);
    font-family: var(--font);
    font-weight: bold;
}

.inputBox span {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0%, -50%);
    pointer-events: none;
    font-size: var(--font-size-cont);
    font-weight: bold;
    color: var(--p-color-200);
    transition: all 0.2s;
}

/* .inputBox input:hover~span, */
.inputBox input:valid~span,
.inputBox input:focus~span {
    top: 20%;
    font-size: var(--font-size-desc);
    color: black;
    opacity: 50%;
}

.inputBox input:valid {
    border: 2px solid var(--n-notificacion-color-ok);
}

#edad {
    width: 84px;
}

/*
#nombreDeUsuario, #nombre, #apellido, #edad, #correo, #contrasenia, #repetirContrasenia{
    width: 220px;
    height: 40px;
    background-color: var(--p-color-900);
    border: 0px;
    border-radius: 50px;
    padding: 1.5%;
    margin-bottom: 2%;
    outline: none;

}
.nombreDeUsuario{
    width: 220px;
    height: 40px;

    display:flex;
    justify-content: center;
}
.nombreDeUsuario>p{
    position: absolute;
    left: 0px;
    color: black;
}
#nombre::placeholder{
    color: black;
}*/